.contenedor-video{  
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-video{
    font-weight: 600;
    font-size: 30px;
    margin-right: 360px;
}

.subtitle-video{
    margin-top: 20px;
    font-size: 25px;
    margin-right: 420px;
}

.img-container{
    margin-top: 30px;
}

.p-container{
    margin-top: 10px;
    color: #B8B8B8;
    margin-right: 320px;
}

.icon-video{
    position: relative;
    bottom: 3px;
    margin-right: 4px;
}

@media (max-width: 600px) {
    .img-container{
        width: 100%;
        max-width: 260px;
    }

    .p-container{
        margin-right: 90px;
    }

    .subtitle-video{
        margin-right: 180px;
    }

    .title-video{
        margin-right: 130px;
    }
}